<launch>
    <!-- TODO (AZ): Make mapping and planning launch file -->
    <!-- Define args -->
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]" />

    <!-- Robot Params -->
    <arg name="urdfFile" default="/tmp/legged_control/$(arg robot_type).urdf" />
    <arg name="planTaskFile"
        default="$(find legged_body_planner)/config/$(arg robot_type)/task.info" />
    <arg name="planReferenceFile"
        default="$(find legged_body_planner)/config/$(arg robot_type)/reference.info" />

    <param name="planTaskFile" value="$(arg planTaskFile)" type="str" />
    <param name="planReferenceFile"
        value="$(arg planReferenceFile)" type="str" />

    <!-- Legged Body Planner Params -->
    <rosparam file="$(find legged_body_planner)/config/legged_body_planner.yaml" command="load" />
    <rosparam file="$(find legged_body_planner)/config/legged_body_planner_topics.yaml"
        command="load" />

    <!-- Rviz & Gazebo Settings -->
    <arg name="gui" default="false" />
    <arg name="rviz" default="true" />
    <arg name="paused" default="false" />
    <arg name="world" default="worlds/empty.world" />
    <arg name="live_plot" default="false" />

    <include file="$(find legged_mapping)/launch/legged_robot_demo.launch">
        <arg name="robot_type" value="$(arg robot_type)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="world" value="$(arg world)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="urdfFile" value="$(arg urdfFile)" />
    </include>


    <!-- Launch planner -->
    <!-- <node pkg="legged_body_planner" type="target_trajectories_publisher"
        name="trajectories_publisher" output="screen" /> -->
    <node pkg="legged_body_planner" type="legged_body_planner_node" name="legged_body_planner"
        output="screen" launch-prefix="gnome-terminal --" />

    <group if="$(arg live_plot)">
        <include file="$(find legged_body_planner)/launch/visualization.launch">
            <arg name="live_plot" value="$(arg live_plot)" />
        </include>
    </group>
</launch>