<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]" />
    <arg name="hung_up" default="true" />

    <group if="$(eval arg('robot_type') == 'go1')">
        <param name="robot_description"
            command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/go1/robot.xacro
            robot_type:=$(arg robot_type) hung_up:=$(arg hung_up) MOCAP:=true" />
    </group>
    <group unless="$(eval arg('robot_type') == 'go1')">
        <param name="robot_description"
            command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/robot.xacro
            robot_type:=$(arg robot_type) hung_up:=$(arg hung_up)" />
    </group>

    <!-- send fake joint values | comment out when using gui -->
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher"
    name="joint_state_publisher"/> -->

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui">
        <param name="use_gui" value="True" />
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find legged_unitree_description)/launch/check_joint.rviz" />

</launch>