<launch>
   <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]"/>
   <arg name="paused" default="false"/>
   <arg name="rviz"  default="false"/>
   <arg name="gui"   default="true"/>
   <arg name="world_name" default="worlds/empty.world"/>

   <rosparam file="$(find legged_gazebo)/config/default.yaml" command="load"/>

   <group if="$(eval arg('robot_type') == 'go1')">
      <!-- Go1 Version -->
      <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/go1/robot.xacro
      robot_type:=$(arg robot_type)"/>
   </group>
   <group unless="$(eval arg('robot_type') == 'go1')">
      <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/robot.xacro
      robot_type:=$(arg robot_type)"/>
   </group>

   <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="gui"  value="$(arg gui)"/>
      <arg name="world_name" value="$(arg world_name)"/>
   </include>

   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
         args="-z 0.5 -param legged_robot_description -urdf -model $(arg robot_type)" output="screen"/>


   <group if="$(arg rviz)">
      <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
         args="-d $(find legged_unitree_description)/launch/rviz_config.rviz"/>
   </group>
</launch>
