<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]" />
    <arg name="hung_up" default="false" />
    <arg name="rviz" default="false" />
    <arg name="rviz_config" default="$(find legged_unitree_hw)/launch/rviz_config.rviz" />

    <group if="$(eval arg('robot_type') == 'go1')">
        <!-- Go1 version -->
        <param name="legged_robot_description"
            command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/go1/robot.xacro
             robot_type:=$(arg robot_type)" />
    </group>
    <group unless="$(eval arg('robot_type') == 'go1')">
        <param name="legged_robot_description"
            command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/robot.xacro
             robot_type:=$(arg robot_type)" />
    </group>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
        args="legged_robot_description $(arg robot_type)" />

    <rosparam file="$(find legged_unitree_hw)/config/$(arg robot_type).yaml" command="load" />

    <param name="robot_type" value="$(arg robot_type)" />
    <node name="legged_unitree_hw" pkg="legged_unitree_hw" type="legged_unitree_hw" respawn="false"
        clear_params="true" />

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
            args="-d $(arg rviz_config)" />
    </group>

</launch>